<!DOCTYPE html>
<!-- Startseite mit Thymeleaf Annotation und Einbindung -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Konfigurator</title>
</head>
<body>
    <h1>Kunden anlegen:</h1>

    <!-- bestimmt die Zieladresse der Parameter -->
    <form action="/kunde" method="POST">
        <input type="text" name="vorname" placeholder="vorname">
        <input type="text" name="nachname" placeholder="nachname">
        <input type="submit" value="Abschicken!">
    </form>
</body>
</html>
