<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hier die verschiedenen Griffmaterialien: ' + ${material} + '.'" />

<form th:action="@{/schaltung}" method="GET" action="#">
    <label for="material">Lenker auswählen:</label>
    <input type="text" id="material" name="material">
    <input type="submit">
</form>
</body>
</html>
